<hr class="text-zinc-700 mb-4 sm:hidden sm:mb-0">
<div class="flex justify-between items-center gap-1 flex-row-reverse sm:gap-4 sm:justify-normal sm:flex-row mb-4 sm:items-start">
    <div>
        <img 
            src="https://t4.ftcdn.net/jpg/05/17/53/57/360_F_517535712_q7f9QC9X6TQxWi6xYZZbMmw5cnLMr279.jpg" 
            alt="placeholder"
            class="min-w-10 max-w-40 sm:max-w-48"
        >
    </div>
    <div>
        <span class="text-zinc-500 text-sm">Março, 13 2025</span>
        <div>
            <h1><a href="#" class="text-sm lg:text-lg font-bold cursor-pointer">Danilo está desenvolvendo em Angular Danilo está desenvolvendo em Angular</a></h1>
        </div>
    </div>
</div>
<hr class="text-zinc-700 mb-4">